@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf");
}

#text {
  font-size: 70px !important;
  font-family: "Roboto";
  margin-left: 55px;
  margin-top: 10px;
  color: white;
}

#logo {
  margin: auto;
  height: 150px;
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
#notif {
  background-color: #0099CC !important;
  width: 435px;
  height: 100vh;
}
#body {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
}
#image {
  border-radius: 245px;
}
#container {
  display: flex;
  flex-direction: column;
}
#input-button {
  /* background-color: red; */
  margin-left: 270px;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#text-area {
  margin-top: -10px;
  font-family: "Roboto";
  font-size: 30px;
  width: 750px;
  height: 250px;
  padding: 20px;
  padding-top: 10px;
  border-color: 	rgb(30,144,255);
}

#send {
  font-family: "Roboto";
  font-size: 18px;
  width: 140px;
  height: 70px;
  margin-left: 20px;
  border-radius: 35px;
  background-color:  	rgb(30,144,255);
  border-color:  	rgb(30,144,255));
}

#button-color {
  font-family: "Roboto";
  font-size: 18px;
  background-color:  	rgb(30,144,255);
  border-color:  	rgb(30,144,255);
  width: 100px;
  height: 50px;
}

#return-button {
  font-family: "Roboto";
  font-size: 18px;
  width: 100px;
  height: 50px;
}

#checkall {
  font-size: 10px !important;
}

.users {
  font-size: 25px !important;
}

#font {
  font-family: "Roboto" !important;
  font-size: 17px;
}
#checkbox input:checked {
  background-color:  	rgb(30,144,255) !important;
}
/* When the checkbox is checked, add a blue background
.container input:checked ~ .checkmark { */
/* } */
